html{
    scroll-behavior: smooth;
    background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.font{
    font-family: 'Oswald', sans-serif;
}
