
.image {
  width: auto;
  height:auto;
  border-radius: 10px;
}



.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
